# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
C_Programming/.vs/C_Programming/v16/.suo
C_Programming/.vs/C_Programming/v16/Browse.VC.db
C_Programming/.vs/C_Programming/v16/Browse.VC.db-shm
C_Programming/.vs/C_Programming/v16/Browse.VC.db-wal
C_Programming/.vs/C_Programming/v16/Browse.VC.opendb
C_Programming/.vs/C_Programming/v16/ipch/AutoPCH/1dff9321005ebc73/HELLO.ipch
C_Programming/C_Programming.sln
C_Programming/C_Programming.vcxproj
C_Programming/C_Programming.vcxproj.filters
C_Programming/C_Programming.vcxproj.user
C_Programming/Debug/C_Programming.exe.recipe
C_Programming/Debug/C_Programming.log
C_Programming/Debug/C_Programming.tlog/C_Programming.lastbuildstate
C_Programming/Debug/C_Programming.tlog/CL.command.1.tlog
C_Programming/Debug/C_Programming.tlog/CL.read.1.tlog
C_Programming/Debug/C_Programming.tlog/CL.write.1.tlog
C_Programming/Debug/C_Programming.tlog/link.command.1.tlog
C_Programming/Debug/C_Programming.tlog/link.read.1.tlog
C_Programming/Debug/C_Programming.tlog/link.write.1.tlog
C_Programming/Debug/C_Programming.vcxproj.FileListAbsolute.txt
C_Programming/Debug/vcpkg.applocal.log
C_Programming/Cprogramming/.vs/Cprogramming/FileContentIndex/629ab443-0b91-44f9-ad7a-3b45eace96db.vsidx
C_Programming/Cprogramming/.vs/Cprogramming/FileContentIndex/7f8958ed-73bb-4a4c-8f52-704554139c4d.vsidx
C_Programming/Cprogramming/.vs/Cprogramming/v17/.suo
C_Programming/Cprogramming/.vs/Cprogramming/v17/Browse.VC.db
C_Programming/Cprogramming/.vs/Cprogramming/v17/Browse.VC.db-shm
C_Programming/Cprogramming/.vs/Cprogramming/v17/Browse.VC.db-wal
C_Programming/Cprogramming/.vs/Cprogramming/v17/Browse.VC.opendb
C_Programming/Cprogramming/.vs/Cprogramming/v17/DocumentLayout.json
C_Programming/Cprogramming/.vs/Cprogramming/v17/ipch/AutoPCH/98a41aec1e240d65/CPROGRAMMING_3.ipch
C_Programming/Cprogramming/Cprogramming/Cprogramming.vcxproj
C_Programming/Cprogramming/Cprogramming/Cprogramming.vcxproj.filters
C_Programming/Cprogramming/Cprogramming/Cprogramming.vcxproj.user
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.exe.recipe
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.log
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.command.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.read.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/Cl.items.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.write.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/Cprogramming.lastbuildstate
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/link.command.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/link.read.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/link.secondary.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/Cprogramming.tlog/link.write.1.tlog
C_Programming/Cprogramming/Cprogramming/x64/Debug/vcpkg.applocal.log
C_Programming/.vs/Cprogramming/FileContentIndex/e0fec632-d6f8-4bf1-bcce-345ec937a909.vsidx
C_Programming/.vs/Cprogramming/v17/.suo
C_Programming/.vs/Cprogramming/v17/Browse.VC.db
C_Programming/.vs/Cprogramming/v17/Browse.VC.db-shm
C_Programming/.vs/Cprogramming/v17/Browse.VC.db-wal
C_Programming/.vs/Cprogramming/v17/Browse.VC.opendb
C_Programming/.vs/Cprogramming/v17/DocumentLayout.json
C_Programming/.vs/Cprogramming/v17/ipch/AutoPCH/13a1cb3b5805bbc5/CPROGRAMMING_3.ipch
C_Programming/Cprogramming/x64/Debug/Cprogramming.exe.recipe
C_Programming/Cprogramming/x64/Debug/Cprogramming.log
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.command.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/Cl.items.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.read.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/CL.write.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/Cprogramming.lastbuildstate
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/link.command.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/link.read.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/link.secondary.1.tlog
C_Programming/Cprogramming/x64/Debug/Cprogramming.tlog/link.write.1.tlog
C_Programming/Cprogramming/x64/Debug/vcpkg.applocal.log
/C_Programming/.vs
